{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-6">
      <div class="d-flex justify-content-between">
        <div><h6 class="text-center alert alert-info">प्रदेश विवरण</h6></div>
        <div>
            <a href="{% url 'designation-create' %}" class="btn btn-info btn-bg">
                  <i class="fas fa-plus"></i> नयाँ थप्ने
            </a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">क्र.स.</th>
            <th scope="col">प्रदेश विवरण</th>
            <th scope="col">Province Detail</th>
            <th scope="col">एक्सन</th>
        </tr>
        </thead>
        <tbody>
        {% for province in province %}
        <tr>
            <th scope="row">{{ province.id }}</th>
            <td><a href="#">{{ province.provincename_nepali }}</a></td>
            <td><a href="">{{ province.provincename_english }}</a></td>
            <td>
                <a href="#" class="btn btn-info btn-xs">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="#" class="btn btn-danger btn-xs">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-md-6">
      <div class="d-flex justify-content-between">
        <div><h6 class="text-center alert alert-info">प्रदेश विवरण</h6></div>
        <div>
            <a href="{% url 'designation-create' %}" class="btn btn-info btn-bg">
                  <i class="fas fa-plus"></i> नयाँ थप्ने
            </a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">क्र.स.</th>
            <th scope="col">प्रदेश विवरण</th>
            <th scope="col">Province Detail</th>
            <th scope="col">एक्सन</th>
        </tr>
        </thead>
        <tbody>
        {% for local in local %}
        <tr>
            <th scope="row">{{ local.id }}</th>
            <td><a href="#">{{ local.localleveltypename_nepali }}</a></td>
            <td><a href="">{{ local.localleveltype_english }}</a></td>
            <td>
                <a href="#" class="btn btn-info btn-xs">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="#" class="btn btn-danger btn-xs">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
{% endblock content %}