{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row container">
    <div class="content-section col-md-6">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">प्रदेश थप्नुहोस | Add Province</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">पेश गर्ने</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}