{% extends "blog/base.html" %}
{% block content %}
<main role="main" class="container">
    <div class="row">
<div class="col-md-12">
    <h4 class="text-center altert alert-info">पदहरुको विवरण</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">क्र.स.</th>
            <th scope="col">पद नेपाली</th>
            <th scope="col">पद अंग्रेजी</th>
            <th scope="col">एक्सन</th>
        </tr>
        </thead>
        <tbody>
        {% for designation in all_designation %}
        <tr>
            <th scope="row">{{ designation.id }}</th>
            <td><a href="{% url 'designation-detail' designation.id %}">{{ designation.designation_nepali }}</a></td>
            <td><a href="{% url 'designation-detail' designation.id %}">{{ designation.designation_english }}</a></td>
            <td>
                <a href="#" class="btn btn-info btn-sm">Edit</a>
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</main>

{% endblock content %}
