{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">पद हटाउने</legend>
                <h2>Are You Sure you want to delete the post " {{ object.designation_nepali }} "</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">हो! हटाउने</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}