{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-12">
      <div class="d-flex justify-content-between">
        <div><h6 class="text-center alert alert-info">पदहरुको विवरण</h6></div>
        <div>
            <a href="{% url 'designation-create' %}" class="btn btn-info btn-bg">
                  <i class="fas fa-plus"></i> नयाँ थप्ने
            </a>
        </div>
    </div>
    <table class="table table-hover table-bordered">
            <thead class="thead-dark">
        <tr>
            <th scope="col">क्र.स.</th>
            <th scope="col">पद (नेपाली)</th>
            <th scope="col">पद (अंग्रेजी)</th>
            <th scope="col">एक्सन</th>
        </tr>
        </thead>
        <tbody>
        {% for designation in designation_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ designation.designation_nepali }}</td>
            <td>{{ designation.designation_english }}</td>
            <td>
                <a href="{% url 'designation-update' designation.id %}" class="btn btn-info btn-xs">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'designation-delete' designation.id %}" class="btn btn-danger btn-xs">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
{% endblock content %}