{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-12">
      <div class="d-flex justify-content-between">
        <div><h6 class="text-center alert alert-info">पदहरुको विवरण</h6></div>
        <div>
            <a href="{% url 'employeetype-create' %}" class="btn btn-info btn-bg">
                  <i class="fas fa-plus"></i> नयाँ थप्ने
            </a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">क्र.स.</th>
            <th scope="col">कर्मचारी किसिम (नेपाली) </th>
            <th scope="col">कर्मचारी किसिम (अंग्रेजी)</th>
            <th scope="col">एक्सन</th>
        </tr>
        </thead>
        <tbody>
        {% for employeetype in employeetype_list %}
        <tr>
            <th scope="row">{{ employeetype.id }}</th>
            <td>{{ employeetype.employeetype_nepali }}</td>
            <td>{{ employeetype.employeetype_english }}</td>
            <td>
                <a href="{% url 'employeetype-update' employeetype.id %}" class="btn btn-info btn-xs">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'employeetype-delete' employeetype.id %}" class="btn btn-danger btn-xs">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
{% endblock content %}