{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-12">
      <div class="d-flex justify-content-between">
        <div><h6 class="text-center alert alert-info">शाखाको विवरण</h6></div>
        <div>
            <a href="{% url 'sectiontype-create' %}" class="btn btn-info btn-bg">
                  <i class="fas fa-plus"></i> नयाँ थप्ने
            </a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">क्र.स.</th>
            <th scope="col">शाखाको नाम</th>
            <th scope="col">Section Name</th>
            <th scope="col">एक्सन</th>
        </tr>
        </thead>
        <tbody>
        {% for sectiontype in sectiontype_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ sectiontype.sectiontype_nepali }}</td>
            <td>{{ sectiontype.sectiontype_english }}</td>
            <td>
                <a href="{% url 'sectiontype-update' sectiontype.id %}" class="btn btn-info btn-xs">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'sectiontype-delete' sectiontype.id %}" class="btn btn-danger btn-xs">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
{% endblock content %}