{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-12">
      <div class="d-flex justify-content-between">
        <div><h6 class="text-center alert alert-info">सेवा समूहको विवरण</h6></div>
        <div>
            <a href="{% url 'servicegroup-create' %}" class="btn btn-info btn-bg">
                  <i class="fas fa-plus"></i> नयाँ थप्ने
            </a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">क्र.स.</th>
            <th scope="col">सेवा समूह</th>
            <th scope="col">Service Group</th>
            <th scope="col">एक्सन</th>
        </tr>
        </thead>
        <tbody>
        {% for servicegroup in servicegroup_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ servicegroup.servicegroup_nepali }}</td>
            <td>{{ servicegroup.servicegroup_english }}</td>
            <td>
                <a href="{% url 'servicegroup-update' servicegroup.id %}" class="btn btn-info btn-xs">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'servicegroup-delete' servicegroup.id %}" class="btn btn-danger btn-xs">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
{% endblock content %}