{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-12">
      <div class="d-flex justify-content-between">
        <div><h6 class="text-center alert alert-info">कर्मचारी विवरण</h6></div>
        <div>
            <a href="{% url 'office-create' %}" class="btn btn-info btn-bg">
                  <i class="fas fa-plus"></i> नयाँ थप्ने
            </a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">क्र.स.</th>
            <th scope="col">नाम</th>
            <th scope="col">Name</th>
            <th scope="col">एक्सन</th>
        </tr>
        </thead>
        <tbody>
        {% for staff in staff_list %}
        <tr>
            <th scope="row">{{ staff.id }}</th>
            <td>{{ staff.staffname_nepali }}</td>
            <td>{{ staff.staffname_english }}</td>
            <td>
                <a href="#" class="btn btn-info btn-xs">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="#" class="btn btn-danger btn-xs">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
{% endblock content %}