{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-12">
      <div class="d-flex justify-content-between">
        <div><h6 class="text-center alert alert-info">कर्मचारी विवरण</h6></div>
        <div>
            <a href="{% url 'export-excel' %}" class="btn btn-primary btn-bg">
                  <i class="fas fa-plus"></i> Export Excel
            </a>
            <a href="{% url 'staff-create' %}" class="btn btn-info btn-bg">
                  <i class="fas fa-plus"></i> नयाँ थप्ने
            </a>
        </div>
    </div>
    <table class="table table-hover table-bordered">
        <thead style="text-align:center; color:red;">
        <tr>
            <th scope="col">क्र.स.</th>
            <th scope="col">नाम</th>
            <th scope="col">शाखा</th>
            <th scope="col">पद</th>
            <th scope="col">कार्यालय</th>
            <th scope="col">सम्पर्क नं.</th>
            <th scope="col">कागजात थप्ने</th>
            <th scope="col">एक्सन</th>
        </tr>
        </thead>
        <tbody>
        {% for staff in staff %}
        <tr style="text-align:center">
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'staff-detail' staff.id %}" target="_blank">{{ staff.staffname_nepali }}</a></td>
            <td>{{ staff.Sectiontype_nepali }}</td>
            <td>{{ staff.designation_nepali }}</td>
            <td>{{ staff.officename_nepali }}</td>
            <td>{{ staff.contact_no }}</td>
            <td><a href="{% url 'staff-files-create' %}">
                  <i class="fas fa-plus"></i> कागजात थप्ने
            </a></td>
            <td>
                {% if staff.author == user or staff.created_by == user and request.user.is_not_superuser %}
                <a href="{% url 'staff-update' staff.id %}" name="generaluser" id="generaluser" class="btn btn-info btn-xs">
                    <i class="fas fa-edit"></i>
                </a>
                {% endif %}
                {% if request.user.is_superuser %}
                <a href="{% url 'staff-update' staff.id %}" name="superuser" id="superuser" class="btn btn-info btn-xs">S
                    <i class="fas fa-edit"></i>
                </a>
                {% endif %}
                {% if request.user.is_superuser %}
                <a href="#" class="btn btn-danger btn-xs">
                    <i class="fas fa-trash"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
{% endblock content %}